html,
body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}
body {
  background: radial-gradient(circle, #f6fffc, #bdebdf);
}
h1 {
  font-style: italic;
  padding-left: 30px;
}
a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  box-shadow: 5px 0px black;
  border-radius: 25px;
  text-transform: uppercase;
}
a:hover,
.selectat {
  background-color: #ff9494;
}
.continut {
  background-color: #c0eaff80;
  height: 85vh;
  width: 600px;
  margin-inline: auto;
  margin-block: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #00000033;
}
.box {
  border: 1px solid black;
  margin: 30px;
  height: 65vh;
  padding-top: 20px;
  text-align: center;
  color: black;
  font-weight: bold;
}
img {
  width: 500px;
  margin: 20px;
  border-radius: 8px;
}
